<div class="container">
  <div class="row">

    <div class='col-xs-6 col-xs-offset-3'>
      <h2 class="text-center"><%= @cocktail.name %></h2>

      <h3>Doses:</h3>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li>
            <%= dose.description %> - <%= dose.ingredient.name %><br />
            <%= link_to "Delete a dose",
            cocktail_dose_path(@cocktail, dose), method: :delete %>
          </li>

        <% end %>
      </ul>

      <div style="">
        <h3>Add a new dose to this cocktail :</h3>
      </div>
    </div>

    <div class="col-xs-6 col-xs-offset-3">
      <%= render 'doses/form' %>
    </div>
  </div>
</div>




    <%= link_to "Back", cocktails_path, class: "btn btn-primary btn-back" %>

  </div>
